* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.planet {
    padding:20px;
    margin: 5px;
    // background-color: purple;
    color: #fff;
    transition: 1s;
    &.right {
        margin-left: auto;
    }
    .planet__name {
        padding: 5px;
        width: 50%;
        background-color: red;
    }
    .planet__date {
        padding: 5px;
        width: 50%;
        background-color: blue;
    }
}